<div class="contenedor" [@fadeIn]>
  <p class="title">AVISO DE PRIVACIDAD</p>

  <p>Apreciable Cliente</p>
  <p>Para los efectos de este aviso se entenderá por:</p>
  <ol type="A">
    <li>
      A) Ley de datos a la Ley Federal de Protección de Datos Personales en
      Posesión de los Particulares (LFPDPPP).
    </li>
    <li>
      B) Responsable del manejo de datos al Departamento de Servicio a Clientes.
      En cumplimiento a lo dispuesto por la Ley Federal de Protección de Datos
      Personales en posesión de los Particulares (LFPDPPP), Andamios Atlas, S.A.
      de C.V., hace de su conocimiento que:
    </li>
  </ol>

  <ol type="1">
    <li>
      1. Con respecto a La Identidad y Domicilio del Responsable del tratamiento
      de sus datos personales. ANDAMIOS ATLAS, S.A. DE C.V., establece como
      responsable del tratamiento de datos personales al Departamento de
      Servicio a Clientes, con domicilio en la Calle de Rio Lerma No. 5,
      Fraccionamiento Industrial San Nicolás Tlaxcolpan, Tlalnepantla de Baz,
      Estado de México, C.P. 54030 Teléfono.- 5093-5600 ext.-5665, correo
      electrónico protecciondedatos&#64;andamiosatlas.com.
    </li>
    <br>
    <li>
      2. Conforme a las políticas internas los datos personales, que proporcione
      con motivo de la Contratación de nuestros productos, se utilizarán para:
    </li>
    <ol>
      <li>2.1 Crear su registro de Cliente.</li>
      <li>
        2.2 Cumplimentar los Contratos y documentación soporte de las
        operaciones comerciales.
      </li>
      <li>
        2.3 Actualizar los registros de Clientes Solicitar y proporcionar
        referencias comerciales.
      </li>
      <li>
        2.4 Solicitar y proporcionar referencias ante Instituciones Financieras.
      </li>
      <li>2.5 Informarle sobre nuevos productos y/o servicios.</li>
      <li>2.6 Mantener su información actualizada.</li>
    </ol>

    <ol>
      <li>
        3.1 Nombre completo del titular de los datos personales y/o quien le
        represente legalmente, teléfono, correo electrónico y domicilio para
        comunicar la respuesta a la solicitud.
      </li>

      <li>
        3.2 Identificación(es) Oficial (es) y en su caso los documentos que
        acrediten la Representación Legal del titular de la cuenta.
      </li>

      <li>
        3.3 La descripción clara y precisa de los datos personales respecto de
        los que se busca ejercer alguno de los derechos antes mencionados.
      </li>

      <li>
        3.4 Cualquier otro elemento o documento que facilite la localización de
        los datos personales.
      </li>

      <li>
        3.5 Tratándose de solicitudes de rectificación, el titular y/o quien lo
        represente legalmente deberá indicar las modificaciones a realizarse y
        aportar la documentación que sustente su petición. Medios para ejercer
        los derechos de acceso, rectificación, cancelación, oposición,
        limitación de uso, y divulgación o revocación del consentimiento.
      </li>
    </ol>
  </ol>

  <p>
    Sus datos serán protegidos con las medidas de seguridad y confidencialidad
    aplicables de conformidad con la regulación vigente y atendiendo las
    políticas internas que al efecto el Departamento de Servicio a Clientes de
    Andamios Atlas, S.A. de C.V., tenga establecidas.
  </p>

  <p>
    El ejercicio de los derechos de acceso, rectificación, cancelación,
    oposición, divulgación y limitación de uso o revocación del consentimiento,
    podrán llevarse a cabo a partir del 6 de Enero del 2012, mediante solicitud
    por escrito presentada al Departamento de Servicio a Clientes la cual debe
    contener:
  </p>

  <ol>
    <li>
      Andamios Atlas, S.A. de C.V., se reserva su derecho de solicitar
      información y/o documentación adicional a la mencionada con antelación,
      para atender la solicitud, misma que será contestada dentro de los plazos
      que la propia Ley de Datos señala.
    </li>
  </ol>

  <p>
    Transferencia de datos personales que en su caso se efectúen: El Responsable
    podrá transferir datos a terceros nacionales o extranjeros a fin de cumplir
    obligaciones derivadas de relaciones contractuales, entre otros.
  </p>

  <p>
    Si Usted no manifiesta al Responsable su oposición por escrito en la forma y
    términos mencionados en el presente aviso para la transferencia de sus datos
    personales, se entenderá otorgado su consentimiento y/o el de su
    representada.
  </p>

  <p>
    Asimismo, el responsable podrá llevar a cabo transferencia de sus datos sin
    requerir su consentimiento en los supuestos indicados en el artículo 37 de
    la Ley de Datos.
  </p>

  <p>
    Cambios al Aviso de Privacidad Andamios Atlas, S.A. de C.V., se reserva del
    derecho de efectuar en cualquier momento modificaciones y/o actualizaciones
    al presente aviso de privacidad. El aviso y en su caso las modificaciones
    estarán disponibles a través de cualquiera de los siguientes medios:
  </p>

  <ol type="a">
    <li>A) Anuncios visibles en las sucursales.</li>
    <li>B) En nuestra página de internet www.andamiosatlas.com</li>
    <li>C) Envió por correo adjunto a su facturación.</li>
  </ol>

  <p>Atentamente Andamios Atlas, S.A. de C.V.</p>
</div>
