.contenedor {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  display: flex;
  flex-direction: row;
}

.exit-btn{
  left: 5%;
  cursor: pointer;
  border: 1px solid var(--color-primario);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 35px;
  margin: 10px;
  color: var(--color-primario);
}

.exit-btn:hover{
  background-color: var(--color-primario);
  color: white;
}

.seleccion {
  width: 20%;
  height: 100vh;
  box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.26);
}

.formulerio {
  width: 80%;
  height: 100%;
  padding: 30px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.formulerio::-webkit-scrollbar {
  display: none;
}


.categorias {
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categorias::-webkit-scrollbar {
  display: none;
}

#categoria {
  font-weight: bold;
}

.secciones {
  font-weight: 500;
}

.subsecciones {
  font-weight: 300;
}

p {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

p button {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  margin: 0;
}

#seccion {
  padding-left: 20px;
}

#subseccion {
  padding-left: 40px;
}

#crearCat{
  margin-top: 30px;
  width: 100%;
  background-color: var(--color-primario);
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  font-weight: 300;
}

#crearCat:hover{
  background-color: white;
  color: var(--color-primario);
  border: 1px solid var(--color-primario);
}
