<div class="contenedor" [@fadeIn]>
  <p class="title">POLÍTICA ANTICORRUPCIÓN</p>

  <p>
    <strong> Andamios Atlas S.A de C.V. </strong> es una empresa que reconoce
    que la corrupción y fraude tienen un gran impacto en la sociedad, es por
    ello que, comprometidos con los estándares de conducta, con el código de
    ética y aunado a ello nuestros valores institucionales, se crea esta
    política para prevenir la corrupción y crear códigos de conducta e imponer
    sanciones a quienes fomenten la practica corrupta dentro de la empresa.
  </p>

  <p>
    <strong>OBJETIVO:</strong> Evitar cualquier acto, actividad o situación que
    genere o tenga que ver con actos de corrupción.
  </p>

  <p>
    <strong>ALCANCE:</strong> Todos los colaboradores de la empresa y partes
    interesadas que tengan alguna relación en la operación y que tengan que ver
    con la gestión de la empresa Andamios Atlas, S.A. de C.V., en adelante «la
    empresa»
  </p>

  <p><strong> CONCEPTOS: </strong></p>

  <ul>
    <li>
      <strong> Corrupción: </strong> "Abuso de cualquier posición de poder
      público o privado, con el fin de generar un beneficio privado indebido, a
      costa del bienestar colectivo o individual".
    </li>

    <li>
      <strong> Colaborador: </strong> "Persona que trabaja con otras, en la
      relación de una tarea en común."
    </li>

    <li>
      <strong> Proveedor: </strong>"Persona que provee o abastece a otra persona
      de lo necesario o conveniente para un fin determinado."
    </li>

    <li>
      <strong> Terceros: </strong>"Persona ajeno a algo, sea una obligación, una
      convención, una relación jurídica o cualquier acto y que efectúan
      gestiones en ellos por así habérselos solicitado, o que tienen algún
      interés en el mismo."
    </li>
  </ul>

  <p>
    <strong> Algo de valor, de manera enunciativa más no limitativa: </strong>
  </p>

  <ul>
    <li>
      Dinero en efectivo o sistema equivalente de pago, como puede ser tarjetas
      o vales de regalo.
    </li>

    <li>Regalos o bienes gratuitos.</li>

    <li>Pagar un sobreprecio por un bien o servicio.</li>

    <li>
      Beneficios otorgados a favor de terceros que tengan relación con nuestros
      colaboradores.
    </li>
  </ul>

  <p>
    <strong>
      Una descripción sencilla de las conductas consideradas como corruptas e
      indeseadas son:
    </strong>
  </p>

  <ul>
    <li>El pago de sobornos.</li>

    <li>La entrega de pagos facilitadores.</li>

    <li>El tráfico de influencias.</li>

    <li>Actuación de un conflicto de intereses.</li>

    <li>
      Participación ilícita en procedimientos administrativos, contables,
      comerciales, y/o cualquier inherente y necesario para el desarrollo de las
      gestiones de la empresa.
    </li>

    <li>Colusión.</li>

    <li>
      Y cualquier otra relacionada que se pueda calificar para estos fines.
    </li>

    <li>
      La ética y el respeto a la legalidad son aspectos prioritarios con los que
      deben actuar todos los colaboradores de la empresa, aunado a que forman
      parte de los valores institucionales a observar.
    </li>
  </ul>

  <p><strong> CRITERIOS: </strong></p>

  <ol>
    <li>
      <strong
        >EN CUANTO A LAS CONDUCTAS PARA EVITAR ACTOS DE CORRUPCION EN ANDAMIOS
        ATLAS:</strong
      >
      <ul>
        <li>
          Queda prohibido que los colaboradores de Andamios Atlas y relacionados
          den, prometan, ofrezcan o autoricen a dar algo de valor, directa o
          indirectamente a través de cualquier persona y / o medio a otra
          persona sujeta para cualquier finalidad.
        </li>
        <li>
          Del mismo modo, los colaboradores de Andamios Atlas y terceros no
          pueden solicitar o recibir de manera directa o indirecta un soborno u
          otra bonificación en relación que esté sea para beneficio propio.
        </li>
        <li>
          Inducir a una persona a realizar o a cometer un acto ilícito y/o de
          extorsión, infringiendo el deber legal que tiene dicha persona o la
          confianza depositada en la misma. Es una acción corrupta la cual queda
          absolutamente prohibida en Andamios Atlas.
        </li>
        <li>
          Está prohibido utilizar a terceras personas para ofrecer o recibir
          «algo de valor» sabiendo que se persigue un fin ilegitimo.
        </li>
      </ul>
    </li>
    <li>
      <strong>PRINCIPIOS PARA EVITAR CONDUCTAS CORRUPTAS:</strong>
      <ul>
        <li>
          Todo colaborador de la empresa, sin distinción alguna, se compromete,
          de manera inexcusable a cumplir con nuestro código de ética, así como
          adoptar los valores institucionales.
        </li>
        <li>
          Todo colaborador debe desempeñar sus labores con honestidad, debido
          cuidado, diligencia, profesionalismo, imparcialidad e integridad.
        </li>
        <li>
          Todo contrato u otro tipo de acuerdo que se suscriban con terceros
          deberá formalizarse por escrito y solo por las personas autorizadas
          internamente acorde al cuadro de comunicación establecido en el Manual
          del Sistema de Calidad de la empresa.
        </li>
        <li>
          Toda actividad corrupta, será debidamente sancionada y denunciada.
        </li>
      </ul>
    </li>
    <li>
      <strong> ES RESPONSABILIDAD DE TODO EMPLEADO:</strong>

      <ul>
        <li>Tratar a sus colegas con respeto, cortesía e imparcialidad.</li>
        <li>
          Colaborar plenamente con las denuncias a través de los buzones o por
          el correo electrónico.
        </li>
        <li>
          Tener una conducta profesional en todo momento, de manera positiva y
          cuidando la imagen de la empresa.
        </li>
        <li>
          Toda operación comercial o negociación con clientes, proveedores o
          consumidores deberá ser regida por las máximas del respeto y
          honestidad.
        </li>
      </ul>
    </li>
    <li>
      <strong> DE LOS FUNCIONARIOS:</strong>

      <ul>
        <li>
          El personal directivo deberá presentar en todo momento un modelo de
          conducta ejemplar que promueva la cultura de cumplimiento e
          integridad.
        </li>
        <li>
          Valorar las conductas en relación a está y demás políticas de la
          empresa.
        </li>
        <li>
          El ofrecimiento y aceptación de «regalos» solamente es permisible
          dentro de las siguientes pautas:
        </li>
        <ul>
          <li>
            Se encuentran dentro de los estándares normales de cortesía,
            hospitalidad o protocolo.
          </li>
          <li>
            No tienen la intención de comprometer en ninguna forma la actuación
            de quien recibe, sus superiores o la organización a la que
            pertenece.
          </li>
          <li>
            Si se le ofrece un regalo, comida, u otro tipo de atenciones que
            superen los límites antes indicados rechácelos cortésmente y
            explique las normas de la empresa.
          </li>
          <li>
            Toda aceptación de regalos, comidas, u otro tipo antes mencionado
            que se otorguen principalmente en el mes de Diciembre; deberá ser
            notificado de manera inmediata a la Dirección General.
          </li>
        </ul>
      </ul>
    </li>
    <li>
      <strong> DEL COMPROMISO Y CONOCIMIENTO DE ESTA POLÍTICA:</strong>
      <ul>
        <li>
          Todo el personal que ingresa como colaborador a la empresa se deberá
          comprometer mediante firma del oficio que contiene las reglas
          especificas de conducta, conocimiento de valores y procesos que tiene
          que seguir en tanto realiza sus funciones en la compañía.
        </li>
        <li>
          Todo el personal que acepte ser parte de la organización deberá acatar
          y respetar los principios, valores, políticas, reglamentos y convenios
          establecidos como parte de la cultura y forma de operar de la empresa.
        </li>
        <li>
          La empresa hará sabedoras a las partes interesadas sobre la política
          anti corrupción, mediante los medios que considere pertinente según
          sea el medio, siempre dejando por escrito la constancia de
          conocimiento y compromiso de respeto y aplicación a este principio.
        </li>
      </ul>
    </li>
  </ol>

  <strong>
    EN CASO DE ESTAR INTERESADO EN INGRESAR ALGUNA DENUNCIA CON NOSOTROS,
    ESCRIBENOS AL MAIL DE: servicioaclientes&#64;andamiosatlas.com
  </strong>
</div>
