/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --color-primario: #cf142b;
  --color-secundario: #1a52a9;
}

body{
  margin: 0;
  padding: 0;
  /*font-family: 'Sunflower', sans-serif !important;*/
  font-family: 'Inter', sans-serif !important;
  cursor: default;
}

/* Añadir estilos específicos para navegadores con prefijos */
/* Chrome, Safari, Edge, Opera */
body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none !important; /* Oculta la barra de desplazamiento */
}

/* Firefox */
body,html {
  scrollbar-width: none !important; /* Oculta la barra de desplazamiento */
  -ms-overflow-style: none !important;
}

html, body { height: 100%; width: 100%; }
body { margin: 0; }
