<div class="contenedor" [@fadeIn]>
  <div class="title">Clientes</div>

  <section class="disclaimer">
    Estimado Cliente ponemos a su disposición nuestro aviso de privacidad de datos en la página www.andamiosatlas.com y
    asimismo acepta que la carga, captura y registro de datos que se solicitan en este apartado es con el consentimiento
    y autorización expresa de su parte, así mismo se hace sabedor de nuestro Aviso de Privacidad Clientes.
  </section>

  <div class="title" id="seccion"> ALTA E INTEGRACIÓN DE EXPEDIENTES</div>

  <div class="expedientes">
    <section class="botones" >
      <div class="title" id="seccion"> DIVISION ATLAS</div>
      <div class="conjunto">
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A42664D7A41774D5456664E5441344E54633D"
          class="btn btn-outline-danger">Persona Fisica</a>
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A42664D7A41774D5456664E5441344E54673D"
          class="btn btn-outline-danger">Persona Moral</a>
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A42664D7A41774D5456664E5441344E546B3D"
          class="btn btn-outline-danger">Extranjero</a>
      </div>
    </section>

    <section class="botones">
      <div class="title" id="seccion">DIVISION CONTEN</div>
      <div class="conjunto">
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A46664D7A41774D5456664E5441344E6A453D"
          class="btn btn-outline-danger">Persona Fisica</a>
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A46664D7A41774D5456664E5441344E6A413D"
          class="btn btn-outline-danger">Persona Moral</a>
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A46664D7A41774D5456664E5441344E6A493D"
          class="btn btn-outline-danger">Extranjero</a>
      </div>
    </section>
  </div>

  <section class="help">
    <div class="title" id="seccion">GUÍA RÁPIDA PARA PORTAL</div>
    <!--PDF-->
    <h4>¿Quedaste con dudas? Contactanos!</h4>
    <a href="/atlas/contacto" class="btn btn-outline-danger" id="contacto">Contactanos</a>
  </section>
</div>
